<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CINE-DCA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @* ctrl +k +c
            Helpers formularios, link vinculos, css y js,label, inputs, select = dropdownlist,listbox,
            actionlink =a (Nombre,Metodo,controller)
        *@
        @Html.ActionLink("CineMania-DCA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                </li>               
                <li class="nav-item">
                    @Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })
                    @* ctrl+l elimina la linea*@
                </li>               
                <li class="nav-item">
                    @Html.ActionLink("Categorias", "Index", "Cine", null, new { @class = "nav-link" })
                </li>
            </ul>

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - 508-FDCA</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>